name: SBOM Generation Workflow

on:
  workflow_call:
    inputs:
      gh_repository_owner:
        required: true
        type: string
      gh_event_name:
        required: true
        type: string
      gh_ref:
        required: true
        type: string
      dhurl:
        required: true
        type: string
      compname:
        required: true
        type: string
      chart_version:
        required: true
        type: string
      branch:
        required: true
        type: string
      digest:
        required: true
        type: string
      image_repo_tag:
        required: true
        type: string
      image_repository:
        required: true
        type: string
      image_tag:
        required: true
        type: string
      image_version:
        required: true
        type: string
    secrets:
      DHPASS:
        required: true
      DHUSER:
        required: true

jobs:
  sbom:
    runs-on: ubuntu-latest

    if: ${{ inputs.gh_repository_owner == 'ortelius' && inputs.gh_event_name == 'push' && inputs.gh_ref == 'refs/heads/main' }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout
        id: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Pull SBOM from Image
        run: |
          cosign verify-attestation "${{ inputs.image_repo_tag }}" --certificate-identity-regexp '.*'  --certificate-oidc-issuer-regexp '.*' --type cyclonedx | jq -r ".payload" | base64 -d | jq -r ".predicate" > /tmp/cyclonedx.json
      - name: Ortelius Update Compnent
        id: ortelius
        env:
          CHART_VERSION: ${{ inputs.chart_version }}
          COMPNAME: ${{ inputs.compname }}
          DHPASS: ${{ secrets.DHPASS }}
          DHURL: ${{ inputs.dhurl }}
          DHUSER: ${{ secrets.DHUSER }}
          DIGEST: ${{ inputs.digest }}
          GIT_BRANCH: ${{ inputs.branch }}
          GIT_TRIGGER: ${{ github.event_name }}
          IMAGE_REPO_TAG: ${{ inputs.image_repo_tag }}
          IMAGE_REPO: ${{ inputs.image_repository }}
          IMAGE_TAG: ${{ inputs.image_tag }}
          IMAGE_VERSION: ${{ inputs.image_version }}
        run: |
          set -x
          curl -sL https://github.com/ortelius/ortelius-cli/releases/latest/download/ortelius-$(uname -s | tr A-Z a-z)-$(uname -m | sed 's/x86_64/amd64/;s/aarch64/arm64/').tar.gz | tar xz -C /usr/local/bin
          ortelius updatecomp --rsp component.toml --deppkg cyclonedx@/tmp/cyclonedx.json
